.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.cursive {
    font-family: 'Dancing Script', cursive;
    color: #e0ad5c;
    /*line-height: 160px;*/
}

.afterNav {
    margin-top: 180px;
}

.barOuter, .bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 100;
    color: #e0ad5c;
}

.bar {
    align-items: center;
    position: absolute;
    width: 100%;
    margin-top: 60px;
}

.bar .h1 {
    color: #e0ad5c;
    text-decoration-color: #e0ad5c;
}

.buttonright {
    alignment: right;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.bg {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    background-image: url("images/DSC_1246.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mdbinputcolor {
    text-decoration-color: red;
    background-color: 'white';
}

.abouttext {
    padding: 10px;
    text-align: justify;
}


.change > div, .change > div > input {
    margin-bottom: 0 !important;
}

.backicon {
    color: #e0ad5c;
    position: absolute;
    margin-top: 10px;
    left: 12vh;
}

.logo {
    position: absolute;
    top: 24px;
    z-index: 100;
}

.imageRoot {
    margin-top: 2.5rem;
    padding: 0 !important;
}

.description {
    display: flex;
    align-items: center;
    height: 90vh;
    max-width: 1280px;
    margin: auto;
    padding: 16px;
}

.description p {
    color: white;
    max-height: 100%;
    overflow: hidden;
    font-family: 'courier', serif;
    font-size: 120%;
}

@media only screen and (max-width: 1200px) {
    .logo {
        max-width: 200px;
    }
}

@media only screen and (max-width: 800px) {
    .afterNav {
        margin-top: 160px;
    }

    .bar {
        display: flex;
        flex-direction: column;
        position: absolute;
        background: white;
        padding: 16px;
        margin-top: unset;
    }

    .bar.mobile {
        display: none;
        /*transition: opacity 1s ease-out;*/
        /*opacity: 0;*/
    }
}

@media only screen and (max-width: 600px) {
    .afterNav {
        margin-top: 130px;
    }

    .bar a {
        z-index: 200;
    }

    .backicon {
        left: 3vh;
    }

    .imageRoot {
        margin-top: 1rem !important;
    }

    .logo {
        max-width: 160px;
    }
}